<mat-card class="bid-card ">
  <mat-card-header>
    <div mat-card-avatar class="bid-header-image"></div>
    <mat-card-title>{{auction?.title}}</mat-card-title>
    <mat-card-subtitle>Auction Number: {{auction?.auctionID}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- Start carousel -->
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images" >
        <div class="picsum-img-wrapper">
          <img class="carousel-image" [src]="image">
        </div>
      </ng-template>
    </ngb-carousel>
  <!-- End carousel -->
  	<h2>The highest current bid: {{auction?.price}} din</h2>
    <h3>Remaining time: {{remainingTime}}</h3>
  	<h4>Status:
  		<ng-template [ngIf]="auction?.status === statuses.inactive">
        <span class="badge badge-secondary">Inactive</span>
      </ng-template>
      <ng-template [ngIf]="auction?.status === statuses.active">
        <span class="badge badge-primary">Active</span>
      </ng-template>
      <ng-template [ngIf]="auction?.status === statuses.finished">
        <span class="badge badge-success">Finished</span>
      </ng-template>
      <ng-template [ngIf]="auction?.status === statuses.realized">
        <span class="badge badge-sold">Realized</span>
      </ng-template>
  	</h4>
	<div class="bid-number-container">
		<h4>Number of bids:
      <button
        mat-mini-fab
        (click)="showHistory()"
        color="primary"
        matTooltip="Go to history of all bids"
        aria-label="Button that will redirect user to the history of all bids for this product">
		      +{{totalNumberOfBids}}
      </button>
		</h4>
  	</div>
    <p>
      {{auction?.description}}
    </p>
  </mat-card-content>
    <mat-card-actions>
    	<mat-form-field class="input-bid">
        <input
          #bidOffer
          matInput
          placeholder="Offer must be greater then: {{auction?.price}} din"
          required>
    	</mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="auction?.status === statuses.active && bidOffer.value > auction?.price ? null : 'disabled'"
        (click)="postNewBid(auction, bidOffer.value)">
        Bid
      </button>
    </mat-card-actions>
</mat-card>
