<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <span class="material-icons icon" (click)="drawer.toggle()">
      menu
    </span>
    <h1 class="app-name">Auction9</h1>
    <span class="spacer"></span>
    <button mat-raised-button>
      Login
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [opened]="mobileQuery.matches ? 'false' : 'true'"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item (click)="closeSideNav()">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine>Home</a>
        </mat-list-item>

        <mat-list-item (click)="closeSideNav()">
          <mat-icon matListIcon>bookmarks</mat-icon>
          <a matLine>My auctions</a>
        </mat-list-item>

        <mat-list-item (click)="closeSideNav()">
          <mat-icon matListIcon>emoji_events</mat-icon>
          <a matLine>Won auctions</a>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
