$color-blue: #3f51b5;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile {
  &.toolbar {
    position: fixed;
    // Make sure the toolbar will stay on top of the content as it scrolls past.
    z-index: 2;
  }

  &.sidenav-container {
    flex: 1 0 auto;
  }
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.icon {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

mat-list-item:hover {
  color: $color-blue;
}

.add-auction-button {
  margin-left: 4%;
}
