<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <span class="material-icons icon" (click)="drawer.toggle()">
      menu
    </span>
    <h1 class="app-name">Auction9</h1>
    <span class="spacer"></span>
    <button mat-raised-button>
      <span class="material-icons">
        person
      </span>
      Login
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      [opened]="mobileQuery.matches ? 'false' : 'true'"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item
          [routerLink]="['/home']"
          (click)="closeSideNav()">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine>Home</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/myAuctions']"
          (click)="closeSideNav()">
          <mat-icon matListIcon>bookmarks</mat-icon>
          <a matLine>My auctions</a>
        </mat-list-item>

        <mat-list-item
          [routerLink]="['/wonAuctions']"
          (click)="closeSideNav()">
          <mat-icon matListIcon>emoji_events</mat-icon>
          <a matLine>Won auctions</a>
        </mat-list-item>

      </mat-nav-list>
      <button
        color=primary
        mat-raised-button
        class="add-auction-button"
        (click)="addAuction()">
        <span class="material-icons">
          add
        </span>
        Add new auction
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
