<h1 mat-dialog-title *ngIf="!dialogData.update"> Add new auction </h1>
<h1 mat-dialog-title *ngIf="dialogData.update"> Update auction </h1>

<form
  [formGroup]="addOrUpdateAuctionForm"
  class="add-auction-form"
  novalidate>

  <!-- Title -->
  <mat-form-field>
    <input
      #title
      matInput
      required
      formControlName="title"
      placeholder="Title">
      <mat-error *ngIf="addOrUpdateAuctionForm.controls.title.hasError('required')">
        You must enter a title.
      </mat-error>
  </mat-form-field>

  <!-- Description -->
  <mat-form-field>
    <textarea
      #description
      matInput
      required
      formControlName="description"
      placeholder="Description">
    </textarea>
      <mat-error *ngIf="addOrUpdateAuctionForm.controls.description.hasError('required')">
        You must enter a description.
      </mat-error>
  </mat-form-field>

  <!-- Price -->
  <mat-form-field>
    <input
      #price
      matInput
      required
      formControlName="price"
      placeholder="Price">
      <mat-error *ngIf="addOrUpdateAuctionForm.controls.price.hasError('required')">
        You must enter a price.
      </mat-error>
  </mat-form-field>

  <!-- Date picker -->
  <div formGroupName="dateGroup">

  <mat-form-field appearance="fill" class="datepicker">
    <mat-label>Start and end date</mat-label>
    <mat-date-range-input
      [rangePicker]="picker">
      <input
        matStartDate
        formControlName="startDate"
        placeholder="Start date">
      <input
        matEndDate
        formControlName="endDate"
        placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="addOrUpdateAuctionForm.get('dateGroup.startDate').hasError('matStartDateInvalid')">
      Invalid start date
    </mat-error>
    <mat-error *ngIf="addOrUpdateAuctionForm.get('dateGroup.startDate').hasError('matEndDateInvalid')">
      Invalid end date
    </mat-error>
    <mat-error *ngIf="addOrUpdateAuctionForm.get('dateGroup.startDate').hasError('required')">
      You have to pick start and end date
    </mat-error>
  </mat-form-field>
  </div>

  <!-- Start time -->
  <mat-form-field class="timepicker">
    <mat-label>Start time</mat-label>
    <input
        matInput
        placeholder="Start time"
        formControlName="startTime"
        [ngxTimepicker]="starttimepicker"
        [format]="24"
        [value]="'00:00 am'"
        [defaultValue]="'07:00'"/>
    <mat-icon matPrefix>
      schedule
    </mat-icon>
    <ngx-material-timepicker #starttimepicker>
    </ngx-material-timepicker>
    <mat-error *ngIf="addOrUpdateAuctionForm.controls.startTime.hasError('required')">
      You have to pick start time
    </mat-error>
  </mat-form-field>

  <!-- End time -->
  <mat-form-field class="timepicker">
    <mat-label>End time</mat-label>
    <input
        matInput
        placeholder="End time"
        formControlName="endTime"
        [ngxTimepicker]="endtimepicker"
        [format]="24"
        [value]="'00:00 am'"
        [defaultValue]="'16:00'"/>
    <mat-icon matPrefix>
      schedule
    </mat-icon>
    <ngx-material-timepicker #endtimepicker>
    </ngx-material-timepicker>
    <mat-error *ngIf="addOrUpdateAuctionForm.controls.endTime.hasError('required')">
      You have to pick end time
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="addOrUpdateAuctionForm.hasError('startTimeLessThanEndTime')">
    End time must be greater than start time
  </mat-error>

  <button
    color=primary
    mat-raised-button
    class="add-auction-button">
    <span class="material-icons">
      upload
    </span>
    Upload photos
  </button>

  <!-- Add/update article button -->
  <div mat-dialog-actions align="center">
    <button
      mat-raised-button
      mat-dialog-close>
        Cancel
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      cdkFocusInitial
      color="primary"
      (click)="onCreateAuctionClick()"
      [disabled]="addOrUpdateAuctionForm.invalid"
      *ngIf="!dialogData.update">
        Create
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      cdkFocusInitial
      color="primary"
      (click)="onUpdateAuctionClick()"
      [disabled]="addOrUpdateAuctionForm.invalid"
      *ngIf="dialogData.update">
        Update
    </button>
  </div>
</form>
