<div class="center-data-table">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="auctionID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Number </th>
        <td mat-cell *matCellDef="let row"> {{row.auctionID}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price}} din </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date_from}} </td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date_to}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row">
          <ng-template [ngIf]="row.status === 'INACTIVE'">
            <span class="badge badge-secondary">Inactive</span>
          </ng-template>
          <ng-template [ngIf]="row.status === 'ACTIVE'">
            <span class="badge badge-primary">Active</span>
          </ng-template>
          <ng-template [ngIf]="row.status === 'FINISHED'">
            <span class="badge badge-success">Finished</span>
          </ng-template>
          <ng-template [ngIf]="row.status === 'REALIZED'">
            <span class="badge badge-sold">Realized</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- More Details Action Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Info </th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-mini-fab
            color="primary"
            [routerLink]="['/auctions', row.auctionID]">
            <span class="material-icons">info</span>
          </button>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab
              color="primary"
              (click)="onEditClick(row.auctionID)"
              [disabled]="row.status !== 'INACTIVE' ? 'disabled' : null">
              <span class="material-icons">edit</span>
            </button>
          </td>
      </ng-container>

      <!-- Stop Column -->
      <ng-container matColumnDef="stop">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stop </th>
          <td mat-cell *matCellDef="let row">
            <!-- button enabled only if auction is 'active'. This will change status to 'inactive' -->
            <button mat-mini-fab color="warn" [disabled]="row.status === 'ACTIVE' ? null : 'disabled'" (click)="stopActiveAuctionID(row.auctionID)">
              <mat-icon>stop</mat-icon>
            </button>
          </td>
      </ng-container>

      <!-- Confirm Column -->
      <ng-container matColumnDef="confirm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Confirm </th>
          <td mat-cell *matCellDef="let row">
            <!-- button enabled only if auction is 'FINISHED'. This will change status to 'REALIZED' -->
            <button mat-mini-fab class="confirm-success" [disabled]="row.status === 'FINISHED' ? null : 'disabled'" (click)="realizeFinishedAuctionID(row, 'REALIZED')">
              <mat-icon>check</mat-icon>
            </button>
          </td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let row"> {{row.time | date: 'YYYY-MM-dd HH:mm:ss'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
